@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
  font-size: 1rem; // 16px
}

html,
body,
#root {
  width: 100vw;
  height: 100%;
  background-color: whitesmoke;
  //background-color: rgb(49, 49, 49);
}

#profileLogo {
  width: 200px;
  height: 200px;
  padding: 5px;
}

#nameDept {
  padding-top: 20px;
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.center {
  height: 100%;

  // display: flex;
  // justify-content: center;
  // align-items: center;

  display: grid;
  place-items: center;
}

//.column{
/*
  padding: 1px;
  display: flex;
  flex-direction: column;
 */
//}

.loginForm {
  height: 80vh;
  width: 40vw;
  display: grid;
  place-items: center;
  background-color: #622427;
  border-radius: 10px;
}

input {
  margin: 5px;
  margin-left: 10px;
  width: 35vw;
  padding: 7px;
  border-radius: 5px;
  display: grid;
  place-items: center;
}

button {
  margin-bottom: 15px;
  padding: 0.4em 1.5em;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
}

label {
  margin-left: 40px;
}

.AddproductBtn {
  margin-left: 25%;
  position: fixed;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.AddproductBtn button:hover {
  background-color: maroon;
  color: white;
}

// Home Page //

.navbar p {
  font-size: 25px;
}

.navbar h1 {
  font-size: 30px;
}

.tabs {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(255, 255, 255);
  border-bottom: solid 1px black;
}

.tabs button {
  padding-top: 1em;
  padding-bottom: 1em;
  border-style: none;
  font-size: 18px;
  border-left: solid 0.5px black;
  margin-bottom: 0px;
  background-color: white;
}

.tabs .btn-logout,
.btn-logout:focus {
  margin-left: 100px;
  background-color: rgb(51, 51, 51);
  color: whitesmoke;
}

.btn-logout:hover {
  background-color: rgb(214, 93, 93);
}

.btn:hover {
  background-color: rgb(119, 119, 119);
  color: white;
}

.btn:focus {
  background-color: rgb(155, 115, 115);
  color: white;
}

.column {
  background-color: none;
}

.column button {
  border-style: none;
  border-bottom: solid 1px black;
  cursor: pointer;
}

.contents {
  background-color: blueviolet;
}

.productBtn {
  position: fixed;
  height: 80vh;
  width: 20%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-right: solid 1px black;
}

.productBtn .btn {
  padding: 1em;
}

.productSection {
  position: fixed;
  right: 0;
  width: 80%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 10px;
  height: 5%;
  width: 100%;
  background-color: #622427;
  color: white;
  text-align: center;
}

.navbar {
  display: flex;
  background-color: #622427;
  padding: 30px;
  color: white;
  font-size: 20px;
}

.Admin {
  margin-left: 60%;
  padding: 5px;
  background-color: whitesmoke;
  color: black;
  border-radius: 5px;
}

// Tables

.table {
  display: table;
  width: 100%;
  height: auto;
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tbody {
    display: block;
    max-height: 300px;
    overflow-y: scroll;
  }

  .row {
    width: 100%;
    display: table-row;

    display: flex;
    justify-content: space-between;

    border: 1px solid white;
  }

  .column {
    width: 100%;

    display: table-cell;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 10px 5px;

    button {
      margin: 0 5px;
      border-bottom: 0;
    }
  }

  #edit-button:hover {
    background-color: green;
    color: white;
  }

  #delete-button:hover {
    background-color: red;
    color: white;
  }

  #action-padding {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search {
    height: 1vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2rem;

    input {
      margin-bottom: 5px;
      background: none;
      border: none;
      outline: none;

      width: 30rem;

      padding: 1rem;
      color: black;

      background-color: #e5e5e5;
    }
  }
}

.ProductTabTitle {
  margin: 50px 0px 0px 50px;
  font-size: 40px;
}

// Home Page //

.scmImg {
  width: 80vw;
  height: 75vh;
}

// Edit Page //

.dashboard-title {
  height: 10vh;
  width: 100vw;
  background-color: #622427;
  color: white;
  border-bottom: 1px solid black;
}

.dashboard-title h2 {
  font-size: 20px;
  padding: 1.5rem;
}

.form-field {
  margin: 20px;
}

.form-label {
  font-size: 1rem;
  font-weight: 800px;
}

.form-field input {
  padding: 7px;
}

.updateBtn {
  margin-left: 27.5%;
  position: fixed;
  width: 10%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.updateBtn button:hover {
  background-color: maroon;
  color: white;
}
